<?xml version="1.0"?>

<robot xmlns:xacro = "https://www.ros.org/wiki/xacro">

    <gazebo reference="body">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="front_right_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="front_left_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="back_right_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="back_left_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>    


</robot>
